<div class="jumbotron">
	<div class="container">
		<h1>Controlador</h1><small>DevelopYou</small>
		<p>Controle todos os seus projetos conosco. Faça o acompanhamento de como está o andamento do seu projeto, abra tickets, converse conosco e fiquei tranquilo enquanto desenvolvemos seu projeto. Crie sua conta e entre em contato para comerçarmos agora!</p>
		<p><a class="btn btn-primary btn-lg" role="button">Saiba mais »</a></p>
	</div>
</div>
<div class="container">
	<div class="row">	
		<div class="col-md-4">
			<h2>Projetos</h2>
			<p>Acompanhe todos os seus projetos. Veja uma lista com todos seus projetos abertos e a progressão deles.</p>
			<p><a class="btn btn-default" href="#" role="button">Detalhes »</a></p>
		</div>
		<div class="col-md-4">
			<h2>Tickets</h2>
			<p>Encontrou um erro? Deseja uma funcionalidade nova? Abra um novo ticket!</p>
			<p><a class="btn btn-default" href="#" role="button">Detalhes »</a></p>
		</div>
		<div class="col-md-4">
			<h2>Contato</h2>
			<p>Deseja entrar em contato? Quer bater um papo? Discutir o projeto? fale conosco!</p>
			<p><a class="btn btn-default" href="#" role="button">Detalhes »</a></p>
		</div>
	</div>
</div>
