<% @user ||= current_user %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<span class="glyphicon glyphicon-th-large"></span>    
    	Painel de controle <span class="text-muted">Bem vindo <%= current_user.email %>.</span>
  	</h3>
  </div>
  <div class="panel-body">
    <div class="row">
			<div class="col-md-2">
		    <%= render partial: 'shared/user_board' %>
			</div>
			<div class="list-group col-md-10">
				<ul class="projects_list">
					<%= render partial: 'projects/project_item', collection: current_user.projects %>
				</ul>
			</div>
		</div>
  </div>
</div>