<div class="options">
    <%= link_to 'CREATE PROJECT', new_user_project_path(current_user), 
                                { :class => 'btn btn-danger btn-sm btn-block', :role => 'button' } %>
    <hr />
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class="badge pull-right">42</span> Inbox </a>
        </li>
        <li><a href="http://www.jquery2dotnet.com">Starred</a></li>
        <li><a href="http://www.jquery2dotnet.com">Important</a></li>
        <li><a href="http://www.jquery2dotnet.com">Sent Mail</a></li>
        <li><a href="http://www.jquery2dotnet.com"><span class="badge pull-right">3</span>Drafts</a></li>
    </ul>
</div>