<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<span class="glyphicon glyphicon-briefcase"></span>
    	<span class="text-muted"><%= @project.name %></span>
  	</h3>
  </div>
  <div class="panel-body">
    <div class="row">
			<div class="col-md-2">
		    <%= render partial: 'project_board' %>
			</div>
			<div class="list-group col-md-10">
				<ul class="model_list">
					<%= render partial: 'tickets/ticket_item', collection: @project.tickets %>
				</ul>
			</div>
		</div>
  </div>
</div>