.list-group{
	.checkbox{
		display: inline-block;margin: 0px;
	}
	input[type="checkbox"]{
		margin-top: 2px;
	}
	.glyphicon{
		margin-right:5px;
		&:hover{
			color:#FFBC00;
		}
	}
}

.list-group-item{
	&:first-child {
		border-top-right-radius: 0px;border-top-left-radius: 0px;
	}	
	&:last-child {
		border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;
	}
}

a.list-group-item.read { color: #222;background-color: #F3F3F3; }